@media screen and (max-width:700px){
    .inner_imageSection{
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        flex-wrap: nowrap !important;
    }
    .disclaimer{
        margin-top: 20px !important;
        width: 80% !important;
    }
}

@media screen and (max-width:500px){
    .imgwrap {
        height: 250px !important;
        width: auto !important;
        max-width: 250px !important;
        max-height: 250px !important;
    }
    .inner_imageSection .imgBorder{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px !important;
        margin-right: 5px !important;
        width: 300px !important;
        height: 260px !important;
    }
}